[package]
name = "suckit"
version = "0.1.0"
authors = ["Skallwar <estblcsk@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
structopt = "0.3"
crossbeam = "0.7"
reqwest = { version = "0.10", features = ["blocking", "cookies"] }
pretty_assertions = "0.6"
kuchiki = "0.8"
colored = "1.9"
chrono = "0.4"
bytes = "0.5"
percent-encoding = "2.1"
url = "2.1"
rand = "0.7"
regex = "1.3.7"

[dev-dependencies]
tiny_http = "0.7.0"
