name: Release upload artifact

on:
  release:
    types: [published, edited]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - riscv64gc-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v3

      - name: Rustup setup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          target: ${{ matrix.target }}

      - name: Set environment variables
        run: |
          .github/env.sh ${{ matrix.target }} >> $GITHUB_ENV

      - name: Install libssl (native)
        if: ${{ matrix.target == 'x86_64-unknown-linux-gnu' }}
        run: |
          sudo apt update
          sudo apt install libssl-dev

      - name: Install libssl (cross)
        uses: ryankurte/action-apt@v0.3.0
        if: ${{ matrix.target != 'x86_64-unknown-linux-gnu' }}
        with:
          arch: ${{ env.MULTILIB_ARCH }}
          packages: "${{ env.UBUNTU_CROSS_PKG_LIST }} libssl-dev:${{ env.MULTILIB_ARCH }}"

      - name: Get release upload url
        id: get_release
        uses: bruceadams/get-release@v1.2.3
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build release
        run: |
          cargo build --release --locked --target ${{ matrix.target }}

      - name: Compute sha512
        run: |
          sha512sum ./target/${{ matrix.target }}/release/suckit | cut -d " " -f 1 > suckit.sha512

      - name: Upload release asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url}}
          asset_path: ./target/${{ matrix.target }}/release/suckit
          asset_name: suckit-${{ steps.get_release.outputs.tag_name }}-${{ matrix.target }}
          asset_content_type: application/x-elf

      - name: Upload release asset checksum
        id: upload-release-asset-sha512
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url}}
          asset_path: ./suckit.sha512
          asset_name: suckit-${{ steps.get_release.outputs.tag_name }}-${{ matrix.target }}.sha512
          asset_content_type: text/plain
